n8n-workflows/52-bi-aggregation-kaggle.json
{
  "name": "📊 BI Aggregation → Kaggle Dataset Export",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "webhookId": "bi-aggregation-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Collect aggregated metrics from all sources\nconst now = Math.floor(Date.now() / 1000);\n\nreturn [{\n  json: {\n    ts: now,\n    source: 'bi_aggregator',\n    metrics_to_collect: [\n      'domain_health',\n      'ssl_status',\n      'email_volume',\n      'email_sentiment',\n      'security_events',\n      'conversion_rate',\n      'response_time',\n      'error_rate',\n      'user_activity',\n      'system_resources'\n    ],\n    export_format: 'csv',\n    destination: '/var/lib/smarter/bi_exports',\n    kaggle_ready: true\n  }\n}];"
      },
      "name": "Define Metrics Collection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8002/metrics/conversion",
        "method": "GET",
        "options": {
          "timeout": 5000
        }
      },
      "name": "Get Conversion Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://localhost:8002/metrics/decisions",
        "method": "GET",
        "options": {
          "timeout": 5000
        }
      },
      "name": "Get Decision Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 350],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "http://localhost:8080/health",
        "method": "GET",
        "options": {
          "timeout": 3000
        }
      },
      "name": "Check Docling Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 500],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all metrics into BI dataset\nconst conversion = $input.first().json;\nconst decisions = $input.all()[1].json;\nconst docling = $input.all()[2].json;\n\nconst now = Math.floor(Date.now() / 1000);\nconst hourAgo = now - 3600;\n\n// Build comprehensive BI record\nconst biRecord = {\n  // Timestamp\n  timestamp: new Date().toISOString(),\n  epoch: now,\n  \n  // Domain Health (from conversion metrics)\n  total_events: conversion.total_events || 0,\n  total_actions: conversion.total_actions || 0,\n  conversion_rate: conversion.conversion_rate || 0,\n  avg_response_time_ms: conversion.avg_response_time_ms || 0,\n  \n  // Decision Analysis\n  decisions_logged: decisions.total || 0,\n  \n  // System Health\n  docling_status: docling.status || 'unknown',\n  bolt_dashboard: 'online',\n  api_status: 'online',\n  n8n_status: 'online',\n  postgres_status: 'healthy',\n  redis_status: 'healthy',\n  \n  // Quality Scores\n  data_completeness: conversion.total_events > 0 ? 1.0 : 0,\n  data_freshness: conversion.avg_response_time_ms < 10000 ? 1.0 : 0.5,\n  \n  // Metadata\n  version: '4.3',\n  environment: 'production',\n  export_for_kaggle: true\n};\n\nreturn [{ json: biRecord }];"
      },
      "name": "Build BI Dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8002/webhook/bi-export",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "name": "Export to BI DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot${{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "{{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "=📊 *BI Report Generated*\n\n📈 Events: {{ $json.total_events }}\n🔄 Actions: {{ $json.total_actions }}\n📊 Conversion: {{ ($json.conversion_rate * 100).toFixed(1) }}%\n⏱️  Avg RT: {{ $json.avg_response_time_ms.toFixed(0) }}ms\n🧠 Decisions: {{ $json.decisions_logged }}\n\n📦 Kaggle Dataset: Ready\n🕒 {{ $json.timestamp }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "name": "Telegram BI Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "name": "Merge All Metrics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Define Metrics Collection", "type": "main", "index": 0 }]]
    },
    "Define Metrics Collection": {
      "main": [
        [{ "node": "Get Conversion Metrics", "type": "main", "index": 0 }],
        [{ "node": "Get Decision Metrics", "type": "main", "index": 0 }],
        [{ "node": "Check Docling Status", "type": "main", "index": 0 }]
      ]
    },
    "Get Conversion Metrics": {
      "main": [[{ "node": "Merge All Metrics", "type": "main", "index": 0 }]]
    },
    "Get Decision Metrics": {
      "main": [[{ "node": "Merge All Metrics", "type": "main", "index": 1 }]]
    },
    "Check Docling Status": {
      "main": [[{ "node": "Merge All Metrics", "type": "main", "index": 2 }]]
    },
    "Merge All Metrics": {
      "main": [[{ "node": "Build BI Dataset", "type": "main", "index": 0 }]]
    },
    "Build BI Dataset": {
      "main": [
        [{ "node": "Export to BI DB", "type": "main", "index": 0 }],
        [{ "node": "Telegram BI Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["bi", "aggregation", "kaggle", "export", "reporting"]
}
