n8n-workflows/chatwoot-otp-validator.json
{
  "name": "Chatwoot OTP Validator",
  "nodes": [
    {
      "parameters": {
        "path": "chatwoot-in",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chatwoot",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Normalizar datos del webhook de Chatwoot\nconst phone = $json.phone || $json.sender?.phone_number || $json.conversation?.meta?.sender?.phone_number;\nconst message = $json.message?.content || $json.content || $json.message || '';\nconst otp = message.trim().replace(/\\D/g, ''); // Solo números\nconst conversation_id = $json.conversation?.id || $json.conversation_id;\nconst account_id = $json.account?.id || $json.account_id || 1;\n\n// Log para debug\nconsole.log('Received:', { phone, otp, conversation_id });\n\nif (!phone || !otp || otp.length !== 6) {\n  return [{\n    error: true,\n    message: 'Invalid phone or OTP format',\n    phone: phone,\n    otp: otp\n  }];\n}\n\nreturn [{\n  phone: phone,\n  otp: otp,\n  conversation_id: conversation_id,\n  account_id: account_id,\n  raw: $json\n}];"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM otp_codes \nWHERE phone='{{ $json.phone }}' \n  AND otp='{{ $json.otp }}' \n  AND used=false \n  AND expires_at > NOW() \nLIMIT 1;"
      },
      "id": "check-otp",
      "name": "Check OTP",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-otp-check",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid",
      "name": "Is Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// Generar JWT con jsonwebtoken\nconst jwt = require('jsonwebtoken');\nconst phone = $input.first().json.phone;\nconst secret = $env.JWT_SECRET || 'default-secret-change-me';\n\nconst payload = {\n  phone: phone,\n  tenant: 'smarterbot',\n  type: 'access',\n  iat: Math.floor(Date.now() / 1000)\n};\n\nconst token = jwt.sign(payload, secret, { \n  expiresIn: '7d',\n  issuer: 'smarteros-auth'\n});\n\nconst access_url = `https://odoo.smarterbot.cl/web?token=${token}`;\n\nconsole.log('Generated JWT for:', phone);\n\nreturn [{\n  phone: phone,\n  token: token,\n  access_url: access_url,\n  conversation_id: $input.first().json.conversation_id,\n  account_id: $input.first().json.account_id\n}];"
      },
      "id": "generate-jwt",
      "name": "Generate JWT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE otp_codes \nSET used=true, \n    metadata = jsonb_set(metadata, '{used_at}', to_jsonb(NOW()::text))\nWHERE phone='{{ $json.phone }}' \n  AND otp='{{ $input.first().json.otp }}';"
      },
      "id": "mark-used",
      "name": "Mark Used",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Production"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://crm.smarterbot.cl/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Código válido.\n\nAccede a tu cuenta aquí:\n{{ $json.access_url }}\n\n_Este enlace expira en 7 días._"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "send-success",
      "name": "Send Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "=https://crm.smarterbot.cl/api/v1/accounts/{{ $json.account_id }}/conversations/{{ $json.conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{ $env.CHATWOOT_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "❌ Código inválido o expirado.\n\nPor favor, solicita un nuevo código escribiendo *NUEVO* o contacta a soporte."
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "send-error",
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, timestamp: new Date().toISOString() } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO otp_audit (otp_id, action, ip_address) \nVALUES (\n  (SELECT id FROM otp_codes WHERE phone='{{ $json.phone }}' AND otp='{{ $input.first().json.otp }}' LIMIT 1),\n  'validated',\n  '{{ $json.raw.ip || \"unknown\" }}'\n);"
      },
      "id": "audit-log",
      "name": "Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 100],
      "credentials": {
        "postgres": {
          "id": "supabase-main",
          "name": "Supabase Production"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Check OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check OTP": {
      "main": [
        [
          {
            "node": "Is Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid": {
      "main": [
        [
          {
            "node": "Generate JWT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT": {
      "main": [
        [
          {
            "node": "Mark Used",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Used": {
      "main": [
        [
          {
            "node": "Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-12-03T09:42:00.000Z",
      "updatedAt": "2025-12-03T09:42:00.000Z",
      "id": "1",
      "name": "authentication"
    },
    {
      "createdAt": "2025-12-03T09:42:00.000Z",
      "updatedAt": "2025-12-03T09:42:00.000Z",
      "id": "2",
      "name": "chatwoot"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-03T09:42:00.000Z",
  "versionId": "1"
}
