n8n-workflows/ecu-file-upload.json
{
  "name": "📁 ECU — Recibir archivo",
  "nodes": [
    {
      "parameters": {
        "path": "ecu-upload",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ecu-upload-webhook"
    },
    {
      "parameters": {
        "fileName": "={{ $binary.data.fileName }}",
        "fileExtension": "={{ $binary.data.fileExtension }}"
      },
      "name": "Extract File Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "content": "={{ `Nuevo archivo recibido:\\n\\n📄 Archivo: ${$binary.data.fileName}\\n📦 Tamaño: ${($binary.data.fileSize / 1024).toFixed(1)} KB\\n👤 Sesión: ${$json.body.session_id || 'unknown'}\\n\\n✅ Archivo guardado correctamente` }}",
        "jsonOutput": true
      },
      "name": "Log File Received",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.telegram.org/bot${TELEGRAM_BOT_TOKEN}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "6683244662"
            },
            {
              "name": "text",
              "value": "={{ `📁 *Nuevo archivo ECU recibido*\\n\\n📄 ${$binary.data.fileName}\\n📦 ${($binary.data.fileSize / 1024).toFixed(1)} KB\\n👤 Sesión: ${$json.body.session_id || 'unknown'}\\n\\n⏳ Pendiente de procesamiento` }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "response": {
          "response": "={{ { status: 'ok', file: $binary.data.fileName, message: 'Archivo recibido correctamente' } }}"
        }
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract File Info", "type": "main", "index": 0 }]]
    },
    "Extract File Info": {
      "main": [[{ "node": "Log File Received", "type": "main", "index": 0 }]]
    },
    "Log File Received": {
      "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]]
    },
    "Notify Telegram": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["ecu-tuning", "file-upload"]
}
