n8n-workflows/install-template-simple.json
{
  "name": "Install Template for Tenant - Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "install-template",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "install-template-simple"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tenant",
              "value": "={{ $json.body.tenant }}"
            },
            {
              "name": "template",
              "value": "={{ $json.body.template }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/SmarterCL/n8n-workflows/main/automation-manifest.json",
        "options": {}
      },
      "name": "Get Manifest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"tenant\": $json.tenant, \"template\": $json.template } }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Manifest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manifest": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
